@mixin formu {
    background-color: rgb(75, 73, 73, 0.8);
    align-items: center;
    min-height: auto;
    width: min(100%, 40em);
    margin: auto;
    margin-top: 3em;
    padding-top: 4em;
    padding-bottom: 2em;
    align-items: center;
    border: 4px solid rgba(19, 17, 17, 0.7);
    border-radius: 5px;

    .contactanos {
        font-size: min(15vw, 6rem);
        font-family: 'Bebas Neue', cursive;
        text-decoration: underline;
        text-transform: uppercase;
        text-shadow: 1px 1px rgb(119, 113, 113);
        text-align: center;
    }

    .form-control {
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    .form-group {
        margin-top: 1em;
    }

    .form-check {
        margin: auto;
        padding-right: 2em;
    }

    label {
        color: white;
        text-shadow: 1px 1px black;
        text-transform: capitalize;
        margin: 1em;
        text-align: center;
    }

    input:hover {
        border-color: black;
    }

    .btn2 {
        padding-top: 6%;
        text-align: center;
    }
}

/* -------------------------mixin------------------------------------- */
main {
    form {
        @include formu();
    }

    #formul {
        min-height: 100vh;
        height: fit-content;
        background-image: url(./img/Formulario.jpg);
    }

}