/* map */
$var: (gris1: rgba(255, 255, 255, 0.37),
    gris2: rgb(119, 113, 113),
    gris3: rgb(116, 114, 114),
    gris4: rgb(75, 73, 73),
    gris5: rgba(117, 126, 125, 0.97),
    blanco: rgb(223, 223, 223),
);

/* map */
@mixin bod {
    margin: 0;
    line-height: 1.6;
    width: 100%;
    min-height: 100vh;
    position: relative;
    height: fit-content;
}

@mixin bodcontent {
    .navbar {
        background-color: rgb(0, 0, 0, 0.7);
        font-family: 'Bebas Neue', cursive;
        font-size: 1.2em;
        padding-right: 1.1em;
        text-shadow: 1px 1px black;
        border: 1px solid black;
    }

    .nav-item {
        padding-left: 1em;
    }

    .nav-link {
        color: map-get($map: $var, $key:"blanco");
        white-space: nowrap;
    }

    .navbar-brand {
        padding-left: 1.5em;
    }

    .nav-link:hover {
        color: map-get($map: $var, $key: "gris2");
        animation-delay: 0ms;
    }

    .rounded-pill {
        width: 70px;
    }
}

@mixin mainc {
    .principal {
        font-family: 'Allerta', sans-serif;
    }

    .principal h1 {
        padding-top: 1.4em;
        color: white;
        text-shadow: 3px 1px map-get($map: $var, $key: "gris4");
        font-size: min(16vw, 9rem);
        text-align: center;
        align-items: center;
        text-transform: uppercase;
    }

    .principal p {
        text-transform: capitalize;
        color: white;
        text-shadow: 1px 1px map-get($map: $var, $key: "gris2");
        font-size: 2em;
    }

    #inicio {
        height: fit-content;
        background-image: url(./img/fondoprincipal.jpg);

    }
}
@mixin foot{
    background-color: map-get($map: $var, $key: "gris3");

    .fo {
        background-color: map-get($map: $var, $key: "gris4");
    }
    .btn:hover{
        background-color: map-get($map: $var, $key: "gris4" );
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    @include bod ();
    @include bodcontent();
}

main {
    height: fit-content;
    @include mainc();

}

footer {
    @include foot();
}

@media (min-width:360px) {
    form {
        margin-top: 2em;
    }

    .tm {
        height: fit-content;
    }
}

@media (min-width:480px) {
    form {
        margin-top: auto;
    }
}

@import "__galeria.scss";
@import "__formulario.scss";
@import "__au.scss";